* {
    box-sizing: border-box;
}

.container-D {
        display:ruby;
        padding: 0 50px 30px;
        border: 2px double red ;
        border-radius: 25px;
        margin: 100px;
}

.position {
    text-align:center;
}

.titulo {
    font-size: xx-large;
}

.foto {
    float: left;
}

